* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: large;
}

body {
  background-color: #ffb977;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head {
  margin: 10px;
}

.btn {
  background-color: rgb(255, 96, 75);
  border: none;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.search {
  color: rgb(0, 0, 0);
}

.sliderhead {
  margin-top: 40px;
}

.slider {
  cursor: pointer;
  margin: 25px 0px;
}

.notFoundMessage {
  background-color: red;
  color: white;
  font-weight: bolder;
}

.attribution {
  color: black;
  text-decoration: none;
  margin: 20px 0px;
  padding: 5px;
}

.attribution:hover {
  color: white;
}
