.list{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    display:grid;
    grid-template-columns: 1fr;

}

@media (max-width: 1250px){

    .list{

        display:grid;
        grid-template-columns: 1fr 1fr;

    }
    
    
}

@media (max-width: 850px){

    .list{

        display:grid;
        grid-template-columns: 1fr;

    }
  
}
