.recipe-card {
  border: 1px solid black;
  width: 80vw;
  margin: 20px;
  box-shadow: 1px 1px 2.5px black;
  font-size: larger;
}

.title {
  text-align: center;
}

.img {
  width: 200px;
  height: 200px;
}

.btn {
  background-color: rgb(250, 150, 0);
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.recipe-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  justify-self: start;
  align-self: start;
  text-align: left;
  padding: 10px;
}

.col-1 {
  text-align: center;
}

.col-1,
.col-2,
.col-3 {
  flex: 1;
}

.col-4 {
  flex: 4;
}

@media (max-width: 1250px) {
  .img {
    width: 40vw;
    height: 60vh;
  }

  .recipe-card {
    width: 45vw;
    margin: 10px;
    padding: 0px;
  }

  .recipe-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    justify-self: center;
    align-self: center;
  }

  .col-4 {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .img {
    width: 55vw;
    height: 40vh;
  }

  .recipe-card {
    width: 90vw;
    margin: 10px;
    padding: 0px;
  }
}
