* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: x-large;
}

.btn {
  background-color: rgb(0, 153, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn:hover {
  box-shadow: 1px 1px black;
}

.search {
  color: rgb(0, 0, 0);
}

.sliderhead {
  margin-top: 40px;
}

.slider {
  cursor: pointer;
  margin: 25px 0px;
}

.noInput,
.notFoundMessage {
  background-color: rgb(255, 47, 47);
  color: white;
  padding: 5px;
  margin: 20px 0px;
  border-radius: 5px;
  font-size: medium;
}

.outputContainer {
  margin-bottom: 50px;
}

footer {
  margin-top: auto;
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

#heartIcon {
  width: 20px;
  height: 20px;
}

.iconAttribution {
  color: rgb(162, 0, 255);
  margin: 5px 0px;
}

#socialFooter {
  display: flex;
  justify-content: center;
}

.icons {
  width: 30px;
  height: 30px;
  margin: 0px 1px;
  border-radius: 5px;
}

.icons:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.548);
}

@media (min-width: 400px) {
  * {
    font-size: medium;
  }
}
